<ion-header>
  <ion-toolbar>
    <ion-title>Baños</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="agregarBano()">
        <ion-icon name="add-circle-outline"></ion-icon>
        Agregar baño
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item
      button
      *ngFor="let bano of banos"
      (click)="verBano(bano)">
      <ion-label>
        <h2>📅 {{ bano.dia }}</h2>
        <p>⏰ {{ bano.hora }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <div *ngIf="banos.length === 0" class="ion-text-center ion-padding">
    <p>No hay baños programados aún</p>
  </div>
</ion-content>
