<ion-header>
  <ion-toolbar color="primary">
    <ion-title>BabyLog</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()" color="light">
        <ion-icon name="log-out-outline"></ion-icon>
        Cerrar sesión
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>Bienvenido{{ userEmail ? ', ' + userEmail : '' }} 👶</h2>
  <p>Selecciona una sección para continuar:</p>

  <ion-list>
    <ion-item routerLink="/vacunas">Vacunas</ion-item>
    <ion-item routerLink="/crecimiento">Crecimiento</ion-item>
    <ion-item routerLink="/alimentacion">Alimentación</ion-item>
    <ion-item routerLink="/banos">Baños</ion-item>
    <ion-item routerLink="/controles">Controles</ion-item>
  </ion-list>
</ion-content>
